@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html, body{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background-image: url('../images/background.jpg');
    background-size: 100vh;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-thumb{
    background: #F08080;
}

section{
    padding: 5%;
}

.background {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: 40% 60%; 
}

.title{
    position:absolute;
    left:0;
    right:0;
    margin: auto;
    text-align: center; 
    top:40%;
    color:black;
    font-size: 70px; 
    font-family: broadway;
}

.container {
    display : flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    flex-direction: column;
}

.letter {
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    height: 80vh;
    width: 50rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to top, #e8a2a2, #4f41ed);
    color: white;
    border-radius: 7px;
}

span{
    display: inline-flex;
    color: #fff;
    font-size: 4rem;
    text-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    animation: fadeIn .2s linear backwards;
    letter-spacing: .1rem;
}

.mainText{
    font-size: 2rem;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.goodMemories {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

.sorry {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
 }

 .text {
    font-size: 3rem; 
    font-weight: bold;
    color:rgba(255, 255, 255, 0.8); 
    border-radius: 20px; 
    border-color: rgba(255,255,255,0.4);
    padding: 2rem 2rem 2rem 2rem;
    text-align: center; 
    margin-top: 10%;
    box-shadow:
    inset 0 0 50px rgba(255,255,255,0.5),      /* inner white */
    inset 20px 0 80px rgba(255, 1, 255,0.5),   /* inner left magenta short */
    inset -20px 0 80px rgba(0, 255, 255,0.5),  /* inner right cyan short */
    inset 20px 0 300px rgba(255, 0, 255,0.5),  /* inner left magenta broad */
    inset -20px 0 300px rgba(0, 255, 255,0.5), /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
 }

 .surprise {
    font-size: 3rem; 
    color:rgba(255, 255, 255, 0.8); 
    border-color: rgba(255,255,255,0.4);
    padding: 2rem 2rem 2rem 2rem;
    text-align: center; 
    margin-top: 15%;
    box-shadow:
    inset 0 0 50px rgba(255,255,255,0.5),      /* inner white */
    inset 20px 0 80px rgba(255, 1, 255,0.5),   /* inner left magenta short */
    inset -20px 0 80px rgba(0, 255, 255,0.5),  /* inner right cyan short */
    inset 20px 0 300px rgba(255, 0, 255,0.5),  /* inner left magenta broad */
    inset -20px 0 300px rgba(0, 255, 255,0.5), /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;          /* outer right cyan */

    left:0;
    right:0;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    position: absolute;
 }

.pic {
    justify-content: center;
    height: 50rem;
    width: 50rem;
  }

.forgive {
    text-align: center; 
    margin-top: 3%;
    color:rgba(12, 12, 12,0.9);
    font-size: 70px; 
    font-family: broadway;
}


@media(max-width: 600px){
    .background{
        height:95vh;
    }

    .title{
        font-size:  4rem;
        font-weight: bold;
        font-family: 'Courier';
        border-style: solid;
        width: 70%;
        padding-left : 5%;
        padding-right : 5%;
        padding-top: 10%;
        padding-bottom:  10%;
        border-radius: 20px;
        color: black;
        border-color: rgb(205, 196, 196);
        background: linear-gradient(to bottom right, rgba(239, 150, 172, 0.4), rgba(255, 255, 255, 0));
    }

    html{
        font-size:50%;
    }

    .letter {
        box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
        height: 70rem;
        width: 40rem;
    }
    
    .pic {
        height: 30rem;
        width: 30rem;
    }

    .forgive {
        text-align: center; 
        margin-top: 3%;
        color:rgba(12, 12, 12,0.9);
        font-size: 70px; 
        font-family: 'Times New Roman';
    }

    .text {
        font-size: 2.2rem;
        font-family: 'elephant';
    }
}